/*root is a special selector in CSS that allows you to define global variables 
that can be reused throughout your stylesheet. These variables are defined using the -- prefix and can be accessed using the var() function.
*/
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-family: 'Arial, sans-serif';
}

body {
    font-family: var(--font-family);
    background-color: var(--primary-color);
    color: white;
    
}
h1 {
    color: var(--secondary-color);
    background-color: white;
    width: max-content;
}

.text-info {
    color: var(--secondary-color);
    font-size: 18px;
}

.red-text {
    color: red;
}